header {
  display: flex;
  margin-left: 90px;
  margin-right: 90px;
  justify-content: space-between;
}

nav {
  display: flex;
  gap: 80px;
}

a {
  padding-top: 7px;
  font-weight: bold;
}

.login {
  background-color: black;
  color: white;
  padding: 12px;
  border-radius: 8px;
  border: none;
}
main {
  margin-top: 70px;
  margin-left: 90px;
  margin-right: 90px;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 10px;
  row-gap: 10px;
}

@media (min-width: 768px) and (max-width: 992px)  {
  main {
      display: grid;
      grid-template-columns: auto auto;
      gap: 10px;
      row-gap: 10px;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  main {
      display: grid;
      grid-template-columns: auto;
      gap: 10px;
  }
}

@media (max-width: 576px) {
  main {
      display: grid;
      grid-template-columns: auto;
      gap: 10px;
  }
  .card {
    background-color: #F8F8F8;
    padding: 5px;
    display: grid;
    row-gap: -10px;
    /* border: 1px solid red; */
    padding: 10px;
}

.card img {
    /* margin-bottom: 10px; */
}

h5, p {
    /* margin-bottom: 20px; */
    /* border: 1px solid red; */
}